<div class="container">
  <div class="row">
    <div class="col-11 col-sm-10 col-md-9 col-lg-7 mx-auto">
      <div class="title mt-3 text-center">
        <h1>Welcome to <i class="fas fa-book"></i>Bookers!</h1>
      </div>
    </div>
  </div>
</div>